.toastizy-container {
  position: fixed;
  z-index: 9999;
  padding: 15px;
  max-width: 100%;
  width: 390px;
}

.toastizy-container.top-right {
  top: 0;
  right: 0;
}

.toastizy-container.top-left {
  top: 0;
  left: 0;
}

.toastizy-container.bottom-right {
  bottom: 0;
  right: 0;
}

.toastizy-container.bottom-left {
  bottom: 0;
  left: 0;
}

.toastizy-container.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.toastizy-container.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.toastizy-container .toastizy {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 2px 0px rgba(255, 231, 191, 0.05), 0px 0px 70px 0px rgba(255, 231, 191, 0.30), 0px 0px 30px 0px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  animation: toastizy-slideIn 0.3s ease-in-out;
}

.toastizy-container .toastizy-success {
  background-color: #3AC26E;
  color: #fff;
}

.toastizy-container .toastizy-error {
  background-color: #f56565;
  color: #fff;
}

.toastizy-container .toastizy-info {
  background-color: #3A99FF;
  color: #fff;
}

.toastizy-container .toastizy-warning {
  background-color: #FFA656;
  color: #fff;
}

.toastizy-container .toastizy-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0px;
}

.toastizy-container .toastizy-title i {
  margin-right: 10px;
}

.toastizy-container .toastizy-description {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
}

.toastizy-container .toastizy-close {
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.toastizy-container .toastizy-close:hover {
  color: #333;
}

.toastizy-container .toastizy-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  animation: toastizy-progress 3s linear forwards;
}

@keyframes toastizy-slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toastizy-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}